---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import AboutMe from '@components/home/AboutMe.astro';
import Description from "@components/home/Description.astro";
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  {
    name: 'Content Collections',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title='Home'
  pageTitle='Chaleb @iamcpdev | Home'
  description='Chaleb is an Army Veteran, Developer, and Blogger. This is his personal website.'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <AboutMe />
    <Description />
    <RecentBlogPosts />
  </main>
</Layout>
