---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;

const isProduction = import.meta.env.PROD;
---

<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    posts.filter(post => !(isProduction && post.data.draft)).map((post) => {
      return (
        <li>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
